.ideationPanel {
  background-color: #0A0A10;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.parallaxContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
